<h1>Show User</h1>

<ul>
    <li>
        <strong>Name:</strong>
        <%= @user.name %>
    </li>
    <li>
        <strong>Email:</strong>
        <%= @user.email %>
    </li>
    <li>
        <div>
            <img src="<%= Routes.user_path(@conn, :photo, @user) %>" alt=""/>
        </div>
    </li>
</ul>
